<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <!-- Full title (visible only when expanded) -->
        <div class="app-title full-title">
          <h1>Inventory Management</h1>
          <small>by BizBuddy</small>
        </div>
      
        <!-- Mini title (visible only when collapsed) -->
        <div class="app-title mini-title">
          <h2> BizBuddy</h2>
        </div>
      
        <!-- Toggle Button -->
        <button id="toggleSidebar" class="fas fa-bars"></button>
      </div>
  
    <nav class="nav-menu">
        <ul>
            <li class="{% if request.path == '/dashboard/' %}active{% endif %}">
                <a href="{% url 'dashboard' %}"><i class="fas fa-home"></i> <span>Dashboard</span></a>
            </li>
            <li class="{% if request.path == '/products/' or request.path == '/create-product/' %}active{% endif %}">
                <a href="{% url 'products_page' %}"><i class="fas fa-box-open"></i> <span>Products</span></a>
            </li>              
            <li class="{% if request.path == '/chat/' %}active{% endif %}">
                <a href="{% url 'messaging_page' %}"><i class="fas fa-comments"></i> <span>Chat</span></a>
            </li>
            <li class="{% if request.path == '/orders/buyer/' %}active{% endif %}">
                <a href="{% url 'buyer_orders_page' %}"><i class="fas fa-shopping-cart"></i> <span>Orders</span></a>
            </li>
            <li><i class="fas fa-store-alt"></i> <span>Rent Space</span></li>
            <li><i class="fas fa-question-circle"></i> <span>FAQ</span></li>
            <li><i class="fas fa-bell"></i> <span>Notification</span></li>
        </ul>
    </nav>

    <div class="sidebar-footer">
      <ul>
        <li><i class="fas fa-cog"></i> <span>Settings</span></li>
        <li id="toggleTheme"><i class="fas fa-moon"></i> <span>Dark Mode</span></li>
      </ul>
    </div>
  </aside>
  