{% extends 'base.html' %}
{% block content %}
<div class="main-content">
    <h1>Register</h1>
    <p>Create a new seller account.</p>
    <form class="auth-form">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <button type="submit">Submit</button>
    </form>
</div>
    <script src="/static/js/register.js"></script>
    <p>Already have an account? <a href="/login/">Login here</a></p>
{% endblock %}
